@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  html, body, #root, .flex-1, main, #quote-preview-content {
    height: auto !important;
    min-height: 0 !important;
    overflow: visible !important;
    display: block !important;
  }
}